Source: ros-hydro-kobuki-gazebo
Section: misc
Priority: extra
Maintainer: Marcus Liebhardt <marcus.liebhardt@yujinrobot.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/kobuki_gazebo
Standards-Version: 3.9.2

Package: ros-hydro-kobuki-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-gazebo-plugins, ros-hydro-gazebo-ros, ros-hydro-kobuki-description, ros-hydro-robot-state-publisher
Description: Kobuki simulation for Gazebo
